.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10rem 0;
  min-height: 30rem;
}

.header__background-image {
  background-size: cover;
  background-position: center;
}

/* Default background Image */
.header__background-image {
  background-image: url("../assets/pattern-bg-mobile.png");
}

/* Desktop background Image */
@media (min-width: 1024px) {
  .header__background-image {
    background-image: url("../assets/pattern-bg-desktop.png");
  }
}

.header__title {
  margin: 3rem 0 1rem 0;
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
}
